In [1]:
import pandas as pd
import os

In [2]:
directory = next(os.walk('.'))

In [3]:
for file in directory[2]:
    parts = file.split('.')
    if parts[-1] == 'csv':
        table = pd.read_csv(file, sep='\t')
        print(parts[0])
        print(table.dropna().describe().applymap(lambda x: '%E' % x))

example1_mc_resuls
              Train Interpolation
count  1.000000E+02  1.000000E+02
mean   4.943565E-03  5.262737E-03
std    4.359048E-03  5.434609E-03
min    2.485584E-03  2.636789E-03
25%    3.799584E-03  3.989156E-03
50%    4.515084E-03  4.722080E-03
75%    5.086713E-03  5.443618E-03
max    4.693072E-02  5.810877E-02
example1_mc_results_e10k
              Train Interpolation
count  1.000000E+01  1.000000E+01
mean   1.801867E-03  1.909028E-03
std    4.017233E-04  4.435979E-04
min    7.486161E-04  7.733688E-04
25%    1.801345E-03  1.909060E-03
50%    1.861897E-03  1.968607E-03
75%    1.902325E-03  2.023908E-03
max    2.252817E-03  2.437681E-03
example2_mc_resuls
              Train Interpolation
count  1.000000E+02  1.000000E+02
mean   4.640952E-03  4.923647E-03
std    2.125262E-03  2.182096E-03
min    1.363438E-03  1.443260E-03
25%    2.810610E-03  3.002839E-03
50%    4.383753E-03  4.692212E-03
75%    5.926006E-03  6.202419E-03
max    9.231953E-03  9.577435E-03
example2_mc_results_e10k
              Train Interpolation
count  1.000000E+01  1.000000E+01
mean   6.602868E-04  7.202156E-04
std    9.296841E-04  1.005394E-03
min    1.340510E-04  1.360894E-04
25%    2.889341E-04  3.043613E-04
50%    3.605497E-04  4.012973E-04
75%    5.661273E-04  6.289145E-04
max    3.264196E-03  3.530075E-03
example3_mc_results
              Train Interpolation
count  1.310000E+02  1.310000E+02
mean   1.241089E-01  1.451599E-01
std    1.809305E-01  2.108160E-01
min    3.636814E-04  3.599941E-04
25%    2.881185E-03  3.067392E-03
50%    1.355865E-02  1.454551E-02
75%    3.742032E-01  4.408892E-01
max    7.622499E-01  8.480448E-01
example3_mc_results_e10k_v2
              Train Interpolation
count  2.300000E+01  2.300000E+01
mean   4.136196E-02  4.818828E-02
std    1.233297E-01  1.430031E-01
min    1.291415E-04  1.349221E-04
25%    4.592697E-04  4.630982E-04
50%    7.447208E-04  8.053419E-04
75%    8.514524E-03  1.000076E-02
max    4.737004E-01  5.442982E-01

In [5]:
table_ex3_10k = pd.read_csv('example3_mc_results_e10k_v2.csv', sep='\t')

In [7]:
table_ex3_10k.dropna()[:10].describe().applymap(lambda x: '%E' % x)

              Train Interpolation
count  1.000000E+01  1.000000E+01
mean   5.321225E-02  6.161124E-02
std    1.481354E-01  1.701355E-01
min    2.941998E-04  3.277160E-04
25%    4.288619E-04  4.432513E-04
50%    8.768050E-04  9.150895E-04
75%    1.418667E-02  1.711695E-02
max    4.737004E-01  5.442982E-01

In [6]:
table_ex3_10k.dropna().applymap(lambda x: '%E' % x)

            Train Interpolation
0    3.908936E-03  4.847882E-03
1    1.556962E-03  1.717859E-03
2    3.819870E-01  4.492049E-01
3    1.125032E-03  1.130450E-03
5    2.430893E-02  2.955559E-02
6    5.900748E-03  6.693019E-03
7    5.278910E-04  6.395632E-04
10   8.291732E-03  9.076177E-03
13   1.829081E-02  2.047008E-02
16   1.626379E-03  1.782963E-03
18   3.807860E-01  4.483133E-01
23   4.897359E-01  5.598696E-01
25   3.773295E-01  4.445398E-01
26   3.881464E-01  4.555828E-01
27   7.870854E-03  7.893906E-03
28   3.860579E-04  4.841398E-04
29   1.135130E-03  1.189524E-03
32   9.692867E-04  1.021700E-03
33   3.857572E-01  4.527961E-01
35   3.720519E-01  4.386101E-01
36   4.175644E-02  5.197739E-02
38   2.426070E-03  2.562588E-03
39   3.884862E-02  4.726121E-02
41   4.505626E-01  5.201235E-01
43   5.305496E-02  6.815416E-02
44   3.703393E-01  4.367950E-01
45   1.210516E-03  1.324129E-03
52   3.760929E-01  4.434184E-01
53   3.885203E-01  4.559203E-01
54   1.778024E-02  2.274140E-02
..            ...           ...
199  1.942730E-03  2.114008E-03
200  6.414152E-03  7.424645E-03
202  7.622499E-01  8.480448E-01
204  3.786463E-01  4.461719E-01
205  4.854818E-01  5.550029E-01
206  1.237701E-03  1.440735E-03
209  4.096897E-03  4.614865E-03
211  4.644989E-04  5.014352E-04
212  2.037810E-02  2.758692E-02
213  6.732999E-03  6.843136E-03
214  1.917706E-02  2.277148E-02
216  2.442139E-03  2.450241E-03
217  2.934339E-02  3.619373E-02
219  2.095473E-03  2.139692E-03
224  1.649083E-02  2.229411E-02
226  2.300567E-02  2.604463E-02
228  1.172162E-02  1.280914E-02
229  1.180140E-02  1.377513E-02
231  1.989211E-02  2.535798E-02
233  1.991608E-02  2.250461E-02
234  3.800612E-01  4.472885E-01
235  9.848388E-04  1.080224E-03
236  3.740194E-03  4.214621E-03
239  8.079063E-03  9.268572E-03
240  1.704830E-03  1.856246E-03
241  1.801130E-02  2.085807E-02
243  2.201390E-03  2.362212E-03
244  3.805008E-01  4.484302E-01
247  3.743183E-01  4.415276E-01
249  3.775809E-01  4.448828E-01

[131 rows x 2 columns]

In [7]:
# eliminate these two samples where the error is of the order of 1e-1 as these are not sucessful trys
table_processed = table_ex3_10k.dropna().loc[table_ex3_10k.dropna().Train < 1e-1]

In [8]:
table_processed.describe().applymap(lambda x: '%E' % x)

              Train Interpolation
count  9.200000E+01  9.200000E+01
mean   9.653591E-03  1.133742E-02
std    1.059879E-02  1.308774E-02
min    3.636814E-04  3.599941E-04
25%    2.036347E-03  2.133271E-03
50%    4.357772E-03  5.042996E-03
75%    1.571897E-02  1.716696E-02
max    5.305496E-02  6.815416E-02

In [8]:
table_ex3 = pd.read_csv('example3_mc_results.csv', sep='\t').dropna()

In [10]:
table_ex3.dropna()[:100].describe().applymap(lambda x: '%E' % x)

              Train Interpolation
count  1.000000E+02  1.000000E+02
mean   1.287918E-01  1.509925E-01
std    1.763434E-01  2.067493E-01
min    3.636814E-04  3.599941E-04
25%    2.887868E-03  3.075439E-03
50%    1.391360E-02  1.473660E-02
75%    3.752322E-01  4.412646E-01
max    4.897359E-01  5.598696E-01